<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: green;
}
</style>
<center><h1>Crypto market</h1>

<table id="t01">
  <tr>
    <th>Asset Name</th>
    <th>Asset ID</th>
    <th>Asset Value</th>
    <th>Buy</th>
  </tr>
  <% @assets.each do |asset| %>
    <tr>
    	<td><b><%= asset.asset_name %></b></td>
    	<td><%= asset.asset_id %></td>
    	<td>US$ <%= asset.asset_value.round(5) %></td>
    	<td><%= button_to 'Buy', {action: "confirm", data: asset.asset_id}, {class: 'button'} %></td>
    </tr>
  <% end %>
</table></center>